<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="lukasz"/>
    <title>Zgadywanka</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

        <div th:replace="fragments/header :: navbar"></div>
</nav>
<!-- Header-->
<!-- Options section-->
<section id="options">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Zgadywanka</h2>
                <p class="lead">Dodaj pytanie</p>
                <form action="#" th:action="@{/addquestion}" th:object="${userQuestion}" method="post">
                    <div class="form-row">
                        <div class="form-group">
                            <h4>Dodaj pytanie</h4>
                            <label for="question">Pytanie</label>
                            <input class="form-control" name="question" id="question" th:field="*{question}"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <h4>Dodaj prawidłową odpowiedz</h4>
                        <label for="correctAnswer">Prawidłowa odpowiedz</label>
                        <input class="form-control" name="correctAnswer" id="correctAnswer" th:field="*{correctAnswer}"
                               type="text">
                    </div>

                    <div class="form-group">
                        <h4>Dodaj nieprawidłowe odpowiedzi</h4>
                        <th:block th:each="i: ${#numbers.sequence(0, 2)}">
                            <div class="form-check form-check-inline">
                                <input class="form-control" th:name="'incorrect_'+${i}" th:field="*{incorrectAnswers}"
                                       type="text">
                            </div>
                        </th:block>
                    </div>

                    <div class="form-group">
                        <h4>Difficulty: </h4>
                        <th:block th:each="difficulty : ${T(com.pl.enumarated.Difficulty).values()}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficulty"
                                       th:id="'difficulty_'+ ${difficulty}" th:value="${difficulty}"
                                       th:field="*{difficulty}">
                                <label class="form-check-label" th:for="'difficulty_'+ ${difficulty}"
                                       th:text="${difficulty}"></label>
                            </div>
                        </th:block>
                    </div>

                    <div class="form-group">
                        <h4>Typ pytania: </h4>
                        <th:block th:each="type : ${T(com.pl.enumarated.QuestionType).values()}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="typeRadioOptions"
                                       th:id="'type_'+ ${type}" th:value="${type}" th:field="*{type}">
                                <label class="form-check-label" th:for="'type_'+ ${type}"
                                       th:text="${type}"></label>
                            </div>
                        </th:block>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <h4>Category</h4>
                            <th:block th:each="category : ${categories}">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadioOptions"
                                           th:id="'category_'+ ${category.getId()}" th:value="${category.getId()}"
                                           th:field="*{category}">
                                    <label class="form-check-label" th:for="'category_'+ ${category.getId()}"
                                           th:text="${category.getName()}">
                                    </label>
                                </div>

                            </th:block>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">wyślij pytanie</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section id="contact">
    <div th:replace = "fragments/footer :: contact"></div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Lukasz <span
            th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a
            href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
