<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="lukasz"/>
    <title>Zgadywanka</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div th:replace="fragments/header :: navbar"></div>
</nav>
<!-- Header-->
<!-- Options section-->
<section id="options">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Wybierz opcje gry</h2>
                <p class="lead">Sprawdź się z wiedzy</p>
                <form action="#" th:action="@{/game}" th:object="${userAnswer}" method="post">
                    <div class="form-row">
                        <h3 th:text="'Question' + ${currentQuestionNumber} + '/' + ${totalQuestionNumber} + ':'"></h3>
                        <h4 th:text="${currentQuestion}"></h4>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <p>Select correct answer:</p>
                            <th:block th:each="answer,iter : ${currentQuestionAnswers}">
<!--                                iter - dostęp do wewnetrznego iteratora  którym są zapisane użyteczne informacje (m.in. wykorzystany przez nas numer aktualnego elementu iter.current, liczba wszystkich elementów, informacja, czy dany element jest pierwszy / ostatni / parzysty / nieparzysty i inne).-->
                                <div class="form-check">
                                    <input class="form-check-radio" type="radio" name="answerRadioOptions"
                                           th:id="'answer_' + ${iter.current}" th:value="${answer}" th:field="*{answer}">
                                    <label class="form-check-label" th:for="'answer_' + ${iter.current}"
                                           th:text="${answer}">
                                    </label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">następne</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section id="contact">
    <div th:replace = "fragments/footer :: contact"></div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Lukasz <span
            th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a
            href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
