<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="lukasz" />
        <title>Zgadywanka</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

            <div th:replace="fragments/header :: navbar"></div>

        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder"><a class="btn btn-dark" href="select">Gotowy do gry? Graj</a></h1>
                <p class="lead">Sprawdź się w zgadywance</p>
                <a class="btn btn-lg btn-light" href="#about">O grze!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>O zgadywance</h2>
                        <p class="lead">Sprawdź się z wiedzy</p>
                        <ul>
                            <li>Możesz wybrać kategorię</li>
                            <li>Możesz wybrać poziom trudności</li>
                            <li>Możesz również wybrać losową kategorię i poziom</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact section-->
        <section id="contact">

            <div th:replace = "fragments/footer :: contact"></div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Lukasz <span th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
