<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="lukasz"/>
    <title>Zgadywanka</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div th:replace="fragments/header :: navbar"></div>
</nav>
<!-- Header-->
<header class="bg-success text-white">
    <div class="container text-center">
        <h1 th:unless="${user=='anonymousUser'}">Gratuluacje <p th:text="${user}"></h1>
        <p class="lead" th:text="'Wybrałeś kategorię ' + ${categoryName} + ' i poziom'  + ${difficulty} + '. Twój wynik to ' + ${points}  + '/' + ${maxPoints} + '.'"></p>
        <a class="btn btn-primary" href="select">Zagraj jeszcze raz</a>
    </div>
</header>
<!-- Contact section-->
<section id="contact">
    <div th:replace = "fragments/footer :: contact"></div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Lukasz <span
            th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a
            href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
